{% extends "main.html" %}

{% block site_nav %}
{% endblock %}

{% block content %}

{# styles #}
<style>
    .md-typeset .caution {
        margin-top: 9em;
    }

    .md-typeset .caution * {
        text-align: center;
    }

    .md-typeset .caution h3 {
        border-bottom: none;
        color: #000;
    }
</style>

<div class="caution">
    <h1>404，页面找不到了！</h1>
    <h3>
        点击返回 <a href="{{ config.site_url }}">{{ config.site_name }}</a> 首页<br>
    </h3>
</div>
{% endblock %}

{% block disqus %}
{% endblock %}
