# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
.venv/
venv/
env/
.python-version

# 环境变量
.env
.env.local

# 编辑器 / IDE
.idea/
.vscode/
.history/

# 操作系统
.DS_Store

# 日志
*.log

# 项目特定
site/
encryptcontent.cache
