{% if nav %}
    {% if page.meta and page.meta.hide %}
        {% set hidden = "hidden" if "navigation" in page.meta.hide %}
    {% endif %}

    <div class="md-sidebar md-sidebar--primary" data-md-component="sidebar" data-md-type="navigation" {{ hidden }}>
        <div class="md-sidebar__scrollwrap">
            <div class="md-sidebar__inner">
                {% include "partials/nav.html" %}

                {# show tags on the left side if the right side has toc #}
                {% if page.toc %}
                    <br>
                    <br>
                    <div class="tag-cloud-nav">
                        {% include "partials/tag-cloud.html" %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}

{% if not "toc.integrate" in features %}
    {% if page.meta and page.meta.hide %}
        {% set hidden = "hidden" if "toc" in page.meta.hide %}
    {% endif %}

    <div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc" {{ hidden }}>
        <div class="md-sidebar__scrollwrap">
            <div class="md-sidebar__inner">
                {% if not page.is_homepage %}
                    {% include "partials/toc.html" %}
                {% endif %}

                {% if page.is_homepage or not page.toc %}
                <nav class="md-nav md-nav--secondary" aria-label="归档">
                    <label class="md-nav__title" for="__toc"><span class="md-nav__icon md-icon"></span>归档</label>
                    <ul class="md-nav__list" data-md-component="toc">
                        <li class="md-nav__item"><a href="/tags/#2025年" class="md-nav__link localLink">・2025年</a></li>
                        <li class="md-nav__item"><a href="/tags/#2024年" class="md-nav__link localLink">・2024年</a></li>
                        <li class="md-nav__item"><a href="/tags/#2023年" class="md-nav__link localLink">・2023年</a></li>
                        <li class="md-nav__item"><a href="/tags/#2022年" class="md-nav__link localLink">・2022年</a></li>
                    </ul>
                </nav>

                <nav class="md-nav md-nav--secondary" aria-label="公众号" style="margin-top: 20px">
                    <label class="md-nav__title" for="__toc"><span class="md-nav__icon md-icon"></span>公众号</label>
                    <div style="text-align: center; margin-top: 10px;">
                        <img src="/assets/images/wechat.jpeg" alt="公众号" style="width: 220px; height: 220px;"/>
                    </div>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
