{# edit button #}
{% if page.edit_url %}
    <a href="{{ page.edit_url }}" title="{{ lang.t('edit.link.title') }}" class="md-content__button md-icon">
        {% include ".icons/material/pencil.svg" %}
    </a>
{% endif %}

{# styles #}
<style>
.social_links {
    text-align: center;
    padding-top: 30px;
}

.social_links a {
    text-align: center;
}

.social_links img {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    margin: 0 18px;
}
</style>

{% include "partials/post-cover.html" %}

<hr class="screen-only">

{% include "partials/post-toc.html" %}

{# show the children pages if no content #}
{% if page.markdown == '' and page.parent.children %}
    <h2>Posts in this section:</h2>
    <ol>
        {% for obj in page.parent.children %}
            {% if obj.is_section %}
                {% set p = obj.children[0] %}
                <li>
                    <a href="{{ p.canonical_url }}">
                        {%- if p.meta and p.meta.title -%}
                            {{- p.meta.title -}}
                        {%- else -%}
                            {{- p.title -}}
                        {%- endif -%}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
{% else %}
    {# content #}
    {{ page.content }}
{% endif %}

<hr />

<h2>老罗的社交媒体</h2>

<div>
    <p style="text-align: center;"><img src="{{ config.site_url }}/assets/images/wechat.jpeg" style="width: 180px" /></p>
    <p style="text-align: center;">扫码关注老罗投资微信公众号</p>
</div>

<div class="social_links">
    <a href="https://space.bilibili.com/13200028">
        <img src="{{ config.site_url }}/assets/images/bilibili.png" alt="B站" />
    </a>
    <a href="https://www.xiaohongshu.com/user/profile/5d45349f0000000011019124">
        <img src="{{ config.site_url }}/assets/images/xiaohongshu.png" alt="小红书" />
    </a>
    <a href="https://www.douyin.com/user/MS4wLjABAAAAxz85Ktwm3fYOUklKLSeySC-ly9OSqgeCxd4S_7hWxwHAmrUqqK6o614A3ilZxojU">
        <img src="{{ config.site_url }}/assets/images/douying.png" alt="抖音" />
    </a>
    <a href="https://www.kuaishou.com/profile/3xdxbtprmvggvcq">
        <img src="{{ config.site_url }}/assets/images/kuaishou.png" alt="快手" />
    </a>
    <a href="https://xueqiu.com/u/laoluotouzi">
        <img src="{{ config.site_url }}/assets/images/xueqiu.png" alt="雪球" />
    </a>
</div>

{% if page.markdown == '' and page.parent.children %}
{% else %}
    {# comment #}
    {% include "partials/comments.html" %}
{% endif %}
